.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #faf7f2;
  z-index: 2;
}

.img-logo {
  padding-top: 7rem;
}

.content h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cta-button {
  background-color: #fdc913;
  color: black;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}

.cta-button:hover {
  background-color: orange;
}
