.success-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ce2829;
  color: #faf7f2;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.success-logo {
  max-width: 100rem;
  margin-bottom: 100px;
}

.success-container h2 {
  font-size: 4rem;
  margin: 10px 0;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
